


.color-nav {
  background-color: rgb(255, 238, 4);
}

.style-logo{
  display: flex;
 flex-direction: column;
}

.color-search {
  background-color: rgb(18, 118, 136);
}

.color-searchbutton {
  background-color: rgb(247, 247, 247);
}
